.swipe-container {
  position: relative;
  width: 80%;
  height: 70%;
  background: pink;
  top: -5%;
  margin: auto;
}

.images-container {
  height: 50%;
  width: 100%;
}

img {
  height: 100%;
  width: 100%;
}
/* .text {
  margin-top: 0px;
  height: 20%;
  width: 100%;
} */
